.add-meeting-room-dialog-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: var(--pure-clr);
    padding: 20px;
    border-radius: 7px;
    max-width: 350px;
    .input-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
        div{
            display: flex;
            align-items: center;
            gap: 10px;
            svg{
                font-size: 130%;
            }
        }
    }
    .contents-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        span{
            display: flex;
            gap: 6px;
            font-size: 130%;
            align-items: center;
            justify-content: center;
        }
        .content-input{
            display: flex;
            gap: 10px;
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                svg{
                    font-size: 100%;
                }
            }
        }
        .content-items-div{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            .content-item-tile{
                text-align: center;
                display: flex;
                gap: 5px;
                align-items: center;
                span{
                    min-width: 100px;
                    padding: 5px;
                    border-radius: 7px;
                    box-shadow:inset 2px 2px 8px var(--n-bs-clr3),2px 2px 6px var(--n-bs-clr4);
                }
                svg{
                    cursor: pointer;
                }
            }
        }
        .add-content-btn{
            width: fit-content;
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    .btn-group{
        margin-top: 10px;
    }
}