.confirm-meeting-dialog-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--pure-clr);
    align-items: center;
    padding: 20px;
    border-radius: 7px;
    max-width: 350px;
    h4{
        font-size: 120%;
    }
    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 5px 4px;
        div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                box-shadow:inset 2px 2px 8px var(--n-bs-clr3),2px 2px 6px var(--n-bs-clr4);
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 130%;
            }
            span{
                margin-left: 3px;
            }
        }
        button{
            padding: 10px;
            border: 0;
            font-size: 110%;
            margin-top: 10px;
            background-color: var(--bg-color);
            color: var(--text-color);
        }
    }
}
