.delete-meeting-room-dialog-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--pure-clr);
    align-items: center;
    padding: 20px;
    border-radius: 7px;
    max-width: 350px;
    .d-img{
        font-size: 3rem;
    }
    span{
        font-size: 160%;
        text-align: center;
    }
    .note{
        font-size: 99%;
    }
}