.book-offline-meet-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .calender-div{
        width: 99%;
        display: flex;
        justify-content: space-evenly;
        padding: 10px 0px;
        align-items: center;
    }
}
.calender-loading{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 200px;
    justify-content: center;
}
@media screen and (max-width:835px){
    .book-offline-meet-div{
        .calender-div{
            flex-direction: column;
            gap: 20px;
        }
    }
}
@media screen and (max-width:490px){
    .book-offline-meet-div{
        .calender-div{
            .calender{
                padding: 10px 5px;
                .main{
                    .i-col{
                        gap: 7px;
                        .i-div{
                            padding: 8px;
                            font-size: 110%;
                        }
                    }
                }
            }
        }
    }
}