.my-meetings-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .no-meetings{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .has-meetings{
        padding: 10px;
        max-width: 90%;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        .tile{
            padding: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            .avatar{
                svg{
                    font-size: 250%;
                }
            }
            .details{
                display: flex;
                flex-direction: column;
                gap: 9px;
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    span{
                        margin-left: 2px;
                    }
                    p{
                        box-shadow:inset 2px 2px 8px var(--n-bs-clr3),2px 2px 6px var(--n-bs-clr4);
                        padding: 10px;
                        border-radius: 5px;
                    }
                }
            }
            .delete-meeting{
                margin-top: 10px;
                display: flex;
                gap: 6px;
                font-size: 110%;
                padding: 10px;
                align-items: center;
            }
        }
    }
}