*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

html,body{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.light-theme{
    --pure-clr:rgb(239, 239, 239);
    --bg-color:#e8e8e8;
    --text-color:#000;
    --n-bs-clr1:#c5c5c5;
    --n-bs-clr2:#fff;
    --n-bs-clr3:#c5c5c5;
    --n-bs-clr4:#fff;
    --overlay-clr:rgba(0, 0, 0, 0.65);
}


.dark-theme{
    --pure-clr:rgb(34, 31, 31);
    --bg-color:#1e1e1e;
    --text-color:#fff;
    --n-bs-clr1:#2f2f2f;
    --n-bs-clr2:#000;
    --n-bs-clr3:#000;
    --n-bs-clr4:#242424;
    --overlay-clr:rgba(0, 0, 0, 0.65);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 1s ease, color 1s ease;
}

.overlaying{
    position: fixed;
    width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--overlay-clr);
      display: flex;
      justify-content: center;
      z-index: 20;
      align-items: center;
}

.app-div{
    min-height: 100vh;
    padding: 10px;
}

.blu-btn{
    padding: 10px 25px;
    border-radius: 30px;
    font-family: inherit;
    background:linear-gradient(180deg,rgb(140, 140, 255), rgb(72, 139, 255));
    color: ghostwhite;
    border: 0;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(113, 163, 255);
    transition: .25s ease;
    &:active{
        scale: 1.03;
    }
}

.n-input{
    background-color: inherit;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: var(--text-color);
    font-family: inherit;
    outline: none;
    box-shadow:inset 4px 4px 8px var(--n-bs-clr3),2px 2px 4px var(--n-bs-clr4);
    font-size: 1.1rem;
}

.main-box-shadow{
    box-shadow: -6px -6px 8px  var(--n-bs-clr1),3px 3px 20px  var(--n-bs-clr2);
}

.button-box-shadow{
    box-shadow:inset 4px 4px 8px var(--n-bs-clr4),2px 2px 4px var(--n-bs-clr3);
    border-radius: 5px;
    cursor: pointer;
    &:active{
        box-shadow:inset 2px 2px 8px var(--n-bs-clr3),2px 2px 6px var(--n-bs-clr4);
    }
}

.close-mark{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    svg{
        color: rgb(215, 28, 28);
        font-size: 110%;
        cursor: pointer;
    }
}

.btn-group{
    display: flex;
    width: 90%;
    justify-content: space-between;
    div{
        font-size: 120%;
        padding: 10px;
    }
}

.text-center{
    text-align: center;
}

.db-error-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
    span{
        text-align: center;
        font-size: 120%;
    }
}

.loader-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
    p{
        font-size: 130%;
    }
}

.b-loading{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px 5px;
    .svg-img{
        font-size: 800%;
    }
}

.close-btn{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.c-btn-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    div{
        padding: 10px;
    }
}

.c-avatar{
    svg{
        font-size: 230%;
    }
}