.meet-type-div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    h1{
        font-size: 200%;
    }
    .main{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
        max-width: 80%;
        .tile{
            display: flex;
            flex-direction: column;
            gap: 10px;
            box-shadow: -6px -6px 8px  var(--n-bs-clr1),3px 3px 20px  var(--n-bs-clr2);
            padding: 10px 10px 20px;
            border-radius: 7px;
           cursor: pointer;
            span{
                font-size: 150%;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width:1000px){
    .meet-type-div{
        .main{
            max-width: 85%;
        }
    }
}
@media screen and (max-width:450px){
    .meet-type-div{
        .main{
            max-width: 95%;
        }
    }
}